/* https://coolors.co/cad2c5-2b061e-5daae9-354f52-ac3931 */

div, h1, h2, h3, h4, input, li, p, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 285px 1fr;
  grid-template-rows: 150px auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: #354F52;
  color: #FFFFFF;
}

.sidebar-header {
  font-size: 1.8rem;
}
.sidebar-item {
  font-size: 1.3rem;
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.search input {
  width: 75%;
}

.status {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.greeting {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.greeting p {
  margin: 2px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.button {
  width: 100px;
  padding: 5px 10px;
  background-color: #354F52;
  color: #FFFFFF;
  border-radius: 15px;
  font-size: 1.2rem;
}

.main {
  background-color: #CAD3C5;
  display: grid;
  grid-area: main;
  grid-gap: 32px;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-template-columns: 1fr 285px;
  padding: 0 1rem;
}

.projects {
  background-color: #CAD3C5;
  display: grid;
  grid-area: projects;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 32px 200px;
  grid-auto-rows: 225px;
}

.project-header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.announcements {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 64px;
  grid-area: announcements;
}

.announcements ul{
  background-color: #FFFFFF;
  display: grid;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.announcements li {
  height: 75px;
  border: 1px solid black;
}

.trending {
  background-color: #CAD3C5;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 64px;
  grid-area: trending;
}

.project-header,
.announcement-header,
.trending-header {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem;
}

.trending ul {
  background-color: #FFFFFF;
  display: grid;
  padding: 0;
  border: 2px solid red;
}

.trending li {
  border: 1px solid black;
  height: 75px;
}

.card {
  background-color: white;
  background-image:
    linear-gradient(to right, #AC3931 8px, #FFFFFF 8px 100%);
  border-radius: 8px;
  box-shadow: 6px 9px 8px 1px #949494;
  padding: 1rem;
}

.card-text {
  font-size: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}