div, h1, h2, h3, h4, input, li, p, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 150px auto;
  grid-template-areas:
    "nav header   header"
    "nav projects sidebar";
}

.nav {
  grid-area: nav;
  background-color: #354F52;
  color: #FFFFFF;
}

.header {
  grid-area: header;
  padding: 1rem;
}

.projects {
  background-color: #CAD3C5;
  display: grid;
  grid-area: projects;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 64px;
  padding: 1rem;
}

.project-header,
.announcement-header {
  grid-column: 1 / -1;
  grid-row: 1/ 2;
}

.sidebar {
  background-color: #CAD3C5;
  display: grid;
  grid-area: sidebar;
  grid-gap: 15px;
  grid-template-rows: 64px;
  padding: 1rem;

}

.announcements ul{
  background-color: #FFFFFF;
}

.trending {
  background-color: #CAD3C5;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 64px;
}

.trending-header {
  background-color: #CAD3C5;
}

.trending ul {
  background-color: #FFFFFF;
}

.card {
  background-color: white;
  border: 2px solid red;
  padding: 1rem;
}